<!-- generate_recipe.html -->

{% extends 'base.html' %}

{% block title %}
    Generate Recipe - {{ super() }}
{% endblock %}

{% block content %}
    <div >
        <h1>Enter the ingredients below </h1>
        <form method="post" style="width: 210px; margin: 20px;" >
            {{ form.string_input.label(class="form-label") }}
            {{ form.string_input(class="form-control") }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <h4>Suggested Recipe : </h4>
        <div class="generated-text-box">
        </div>
        <br>
        <form method="post" style="width: 210px; margin: 20px;" >
            <button type="submit" class="btn btn-primary">Generate_recipe</button>
        </form>
        {% if generated_text %}
            <div >
                <h2>Generated Text:</h2>
            </div>
            <br>
            <div class="generated-text-box">
                <p>{{ generated_text }}</p>
            </div>
        {% else %}
            <div class="generated-text-box">
                <h2>Not generated</h2>
            </div>
        {% endif %}
    </div>
{% endblock %}
