{% extends 'base.html' %}

{% block title %}
Welcome
{{ super() }}
{% endblock %}

{% block content %}
<div class="container" style="text-align: center;">
    <style>
        .form-field {
            width: 300px;
            margin: 0 auto;
        }

        .btn {
            margin-top: 20px;
        }
    </style>
    
    <h2>Welcome, {{ current_user.username }}!</h2>
    <p>Select option:</p>
    <div class="form-field">
        <a href="{{ url_for('generate_recipe') }}" class="btn btn-primary">Generate Recipe</a>
    </div>
    <div class="form-field">
        <a href="{{ url_for('diet') }}" class="btn btn-primary">Diet control</a>
    </div>
</div>
{% endblock %}
